{% extends 'authentication/base.html' %}

{% block title %}TechRizzy - Login{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <img src="" alt="TechRizzy Logo" class="login-logo">
        <h2>Certificate Authority Login</h2>
        <p>Please sign in with your Google account to access the certificate management system.</p>
        
        <div class="login-buttons">
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="google-btn">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="Google logo">
                Sign in with Google
            </a>
        </div>
    </div>
</div>
{% endblock %}